* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: Arial, Helvetica, sans-serif;
}

body {
	background-color: #0a0b0d;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
	color: white;
}

button {
	font-size: 14px;
	padding: 5px;
}

.container {
	width: 90vw;
	height: 90vh;
}

.login {
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	gap: 15px;
}

.login > form {
	display: flex;
	flex-direction: column;
	gap: 5px;
}

.login > form > input {
	padding: 5px;
}

.profile-pic {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	margin-right: 8px;
	display: inline-block;
	object-fit: cover;
}

.profile-pic-big {
	width: 150px;
	height: 150px;
	border-radius: 50%;
	display: inline-block;
	object-fit: cover;
}

.profile-picture {
	object-fit: cover;
}

/* Chat */

.chat {
	width: 95vw;
	height: 95vh;
	display: flex;
}

.chat--list,
.chat--messages,
.chat--info {
	border: 1px solid rgba(255, 255, 255, 0.125);
	border-radius: 1rem;
	margin: 1rem;
	max-height: 100%;
}

.chat--list {
	flex: 1;
	padding: 0.5rem;
}

.chat--list--element {
	background-color: black;
	color: white;
	border: 1px solid rgba(255, 255, 255, 0.125);
	border-radius: 10px;
	width: 100%;
	padding: 5px;
	cursor: pointer;
	display: flex;
	align-items: center;
}

.chat--list ul {
	list-style-type: none;
}

.chat--messages {
	flex: 2;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	overflow-y: auto;
}

.chat--messages--title {
	padding: 10px 0;
	display: flex;
	align-items: center;
}

.chat--messages--content {
	display: flex;
	flex-grow: 1;
	flex-direction: column;
	overflow-y: auto;
}

.message {
	display: inline-block;
	padding: 10px 15px;
	margin: 5px;
	max-width: 60%;
	word-wrap: break-word;
	border-radius: 10px;
	transition: background-color 0.2s ease-in-out;
}

.message--me {
	background-color: rgb(55, 151, 240);
	align-self: flex-end;
	text-align: left;
	margin-left: auto;
}

.timestamp--me {
	text-align: right;
}

.message--other {
	background-color: rgb(38, 38, 38);
	align-self: flex-start;
	text-align: left;
	margin-right: auto;
}

.message--image {
	width: 100%; /* Make the container take full width only if it has an image */
	background-color: transparent; /* Remove background for image messages */
	padding: 0; /* Remove extra padding for a clean layout */
}

.chat--messages--send {
	align-self: flex-end;
	margin: 5px;
}

.chat--messages--send input {
	background-color: black;
	color: white;
	width: 400px;
	padding: 10px;
	border-radius: 1rem;
}

.chat--info {
	flex: 1;
	display: flex;
	align-items: center;
	gap: 1rem;
	flex-direction: column;
}

/* Scrollbar */

/* For WebKit browsers */
*::-webkit-scrollbar {
	width: 2px;
}

*::-webkit-scrollbar-track {
	background: #f1f1f1;
	border-radius: 10px;
}

*::-webkit-scrollbar-thumb {
	background: #888;
	border-radius: 10px;
}

*::-webkit-scrollbar-thumb:hover {
	background: #555;
}

/* For Firefox */
* {
	scrollbar-width: thin;
	scrollbar-color: #888 #f1f1f1;
}
